/* You can add global styles to this file, and also import other style files */

.ag-custom-checkbox {
    text-align: center;
    margin-top: calc(100% - 50%);
}

.ag-custom-checkbox-header {
    margin-left: 18px;
}